<div id="constructors">
	<h2>Constructors (<%=constructorFns.length%>)</h2>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Methods</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i = 0, l = constructorFns.length; i < l; i++) { %>
			<% var currentConstructor = constructorFns[i]; %>
			<% var currentConstructorName = currentConstructor.name; %>
			<% var currentConstructorCheckboxId = "constructor-"+currentConstructorName; %>
				<tr>
					<td>
						<input
							type="checkbox"
							name="<%=currentConstructorName%>"
							id="<%=currentConstructorCheckboxId%>"

							<%if(query[currentConstructorName] == 'on'){%>
								checked
							<%}%>

						/>
						<label
							for="<%=currentConstructorCheckboxId%>"
						><%=currentConstructorName%>
						</label>
					</td>
					<td>

						<ul
							class="methods"
							id="methods-<%=currentConstructorName%>"
						>
						<% for(var j = 0, jl = currentConstructor.prototypeMethods.length; j < jl; j++) { %>
						<% var currentPrototype = currentConstructor.prototypeMethods[j]; %>
						<% var currentPrototypeCheckboxId = "currentprototype-"+currentConstructorName+"-"+currentPrototype.name.toLowerCase(); %>
							<li>
								<input
									type="checkbox"
									name="<%=currentConstructorName%>#<%=currentPrototype.name%>"
									id="<%=currentPrototypeCheckboxId%>"

									<%if(query[currentConstructorName+'#'+currentPrototype.name] == 'on'){%>
										checked
									<%}%>

								/>
								<label
									for="<%=currentPrototypeCheckboxId%>"
								><%=currentPrototype.name%></label>

							</li>
						<% } %>
						</ul>
					</td>
				</tr>
			<% } %>
		</tbody>
	</table>
	<script type="text/javascript" src="js/ui-enhance.js"></script>
	<script type="text/javascript">
		<% for (var idx=0, len=constructorFns.length; idx<len; ++idx) { %>
			uiEnhance.constructorMethodCheckboxes("<%=constructorFns[idx].name%>");
		<% } %>
	</script>
</div>