<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-GB">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="en-gb">
		<meta name="author" content="Adam Silver">
		<title>Jessie - Build your own Jessie</title>
		<link rel='stylesheet' type="text/css" href='css/global.css'>
	</head>
	<body>
		<div id="container">
			<div id="builder"> 
				<form method="get" action="build/">
					<div class="header">
						<h1>Build your own jessie</h1>
						<div class="actions">
							<input type="submit" value="Download Your Jessie now" name="download">
						</div>
					</div>

					<% if (error) { %>
						<div class="errors">						
							<p>You must specify at least one function to build.</p>
						</div>
					<% } %>

					<div class="options">
						<h2>Options</h2>
						<div class="option">
							<label for="namepsace">Namespace (defaults to 'jessie')</label>
							<input id="namespace" name="namespace" type="text" >
						</div>
					</div>				

					<% for(var i = 0; i < functions.length; i++) { %>
						<div class="function">
							<h2><%=functions[i].name%></h2>
							<% for(var j = 0; j < functions[i].renditions.length; j++) { %>
								<div class="rendition">
									<input 
										id="<%=functions[i].name+functions[i].renditions[j].id%>" 
										type="radio" 
										name="<%=functions[i].name%>" 
										value="<%=functions[i].renditions[j].id%>"

										<%if(query[functions[i].name] == functions[i].renditions[j].id){%>
											checked
										<%}%>

									>
									<label for="<%=functions[i].name+functions[i].renditions[j].id%>">		
										<%=functions[i].renditions[j].id%>
									</label>

									<div class="description">
										<%- md(functions[i].renditions[j].description) -%>
									</div>

								</div>
							<% } %>
						</div>
					<% } %>
					
				</form>
			</div>
		</div>
	</body>
</html>