<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-GB">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="en-gb">
		<meta name="author" content="Adam Silver">
		<title>Jessie - Build your own Jessie</title>
		<link rel='stylesheet' type="text/css" href='css/global.css'>
		<!--[if IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" /><![endif]-->	
	</head>
	<body>
		<div id="container">
			<div id="builder"> 
				<form method="get" action="/">
					<div class="header">
						<h1>Build your own Jessie <%query%></h1>
					</div>

					<% if (errors.length > 0) { %>
						<div id="errors">
							<div class="errorsInner">
								<h2>You have errors:</h2>
								<% for(var i = 0; i < errors.length; i++) { %>
									<p><%=errors[i].message%>
										<% if(errors[i].link) { %>
											<a href="<%=errors[i].link%>">Go</a>
										<% } %>
									</p>
								<% } %>
							</div>
						</div>
					<% } %>

					<div class="options">
						<h2>Options</h2>

						<table>
							<thead>
								<tr>
									<th>Name</th>
									<th>Value</th>	
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><label for="namespace">Namespace (defaults to 'jessie')</label></td>
									<td>
										<input 
											id="namespace" 
											name="namespace" 
											type="text"
											<% if(query && query.namespace) { %>
												value="<%=query.namespace%>"
											<% } %>
										>
									</td>
								</tr>
								<tr>
									<td>Minification settings</td>
									<td>
										<div>
											<input 
												type="radio" 
												name="minification"
												id="minification_0"
												value=""
												<% if(!query.minification || query.minification == '') { %>
													checked
												<% } %>
											>
											<label for="minification_0">None</label>
										</div>
										<div>
											<input 
												type="radio" 
												name="minification"
												value="level1"
												id="minification_1"
												<% if(query && query.minification == 'level1') { %>
													checked
												<% } %>
											>
											<label for="minification_1">Level 1 - Remove comments</label>
										</div>
										<div>
											<input 
												type="radio" 
												name="minification"
												value="level2"
												id="minification_2"
												<% if(query && query.minification == 'level2') { %>
													checked
												<% } %>
											>
											<label for="minification_2">Level 2 - Remove comments, whitespace</label>
										</div>
										<div>
											<input 
												type="radio" 
												name="minification"
												value="level3"
												id="minification_3"
												<% if(query && query.minification == 'level3') { %>
													checked
												<% } %>
											>
											<label for="minification_3">Level 3 - Remove comments, whitspace and shorten variable names</label>
										</div>
									</td>
								</tr>
								<tr>
									<td><label for="scaffolding">Debug</label></td>
									<td>
										<input 
											id="scaffolding" 
											name="scaffolding" 
											type="checkbox" 
											<% if(query && query.scaffolding == 'on') { %>
												checked
											<% } %>
										>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="filters">
						<h2>Filters</h2>
						<!--
						<% if(query && query['degradesIEFilter']) { %>
							<p style="color: green">Filtered to show functions that degrade in:
							<%=query['degradesIEFilter'] %></p>
						<% } %>
					-->

						<div>
							<label for="degradesIEFilter">Supports:</label>
							<select id="degradesIEFilter" name="degradesIEFilter">
								<option value="">None</option>
								<option 
									value="IE4" 
									<% if(query['degradesIEFilter'] == 'IE4') {%> 
									selected 
									<%}%>
								>
									IE4
								</option>
								<option 
									value="IE5" 
									<% if(query['degradesIEFilter'] == 'IE5') {%> 
									selected 
									<%}%>
								>
									IE5
								</option>
								<option 
									value="IE5.5" 
									<% if(query['degradesIEFilter'] == 'IE5.5') {%> 
									selected 
									<%}%>
								>
									IE5.5
								</option>
								<option 
									value="IE6" 
									<% if(query['degradesIEFilter'] == 'IE6') {%> 
									selected 
									<%}%>
								>
									IE6
								</option>
								<option 
									value="IE7" 
									<% if(query['degradesIEFilter'] == 'IE7') {%> 
									selected 
									<%}%>
								>
									IE7
								</option>
								<option 
									value="IE8" 
									<% if(query['degradesIEFilter'] == 'IE8') {%> 
									selected 
									<%}%>
								>
									IE8
								</option>
								<option 
									value="IE9" 
									<% if(query['degradesIEFilter'] == 'IE9') {%> 
									selected 
									<%}%>
								>
									IE9
								</option>
							</select>
							<input type="submit" name="action" value="Filter">
						</div>
					</div>	

					<div id="groupIndex">
						<h2>Group index</h2>
						<ul>
							<% for(var k = 0; k < groups.length; k++) { %>
								<li><a href="#group_<%=k%>"><%=groups[k].groupName%></a></li>
							<% } %>
						</ul>
					</div>

					<div id="functions">
						<h2>Functions (<%=functionCount%>)</h2>

						<table>
							<tr class="thead">
								<th class="function">Function</th>
								<th class="author">Author</th>				
								<th class="rendition">Rendition</th>
								<th class="selection">Choose</th>		
								<th class="degrades">Degrades in</th>
								<th class="description">Description</th>
								<th class="seeAlso">See also</th>					
							</tr>
						</table>
	

						<% for(var k = 0; k < groups.length; k++) { %>

							<h3 id="group_<%=k%>">(<a href="#groupIndex">Index</a>) Group: <%=groups[k].groupName%> (<%=groups[k].functions.length%>)</h3>

							<% var functions = groups[k].functions;	%>


							<% for(var i = 0; i < functions.length; i++) { %>

								<% if(functions[i].renditions.length) {  %>
									<table>
										<tbody>
											<%
											  var anyChecked = false;
											  for(var j = 0; j < functions[i].renditions.length; j++) {
											%>
												<tr>

													<%if(j==0) {%>
														<td id="<%=functions[i].name%>" class="function" rowspan="<%=(functions[i].renditions.length*2)+1%>">
															<%=functions[i].name%>
															(<%=functions[i].renditions.length%>)
														</td>
													<%}%>
													<td class="author"><%=functions[i].renditions[j].author%></td>
													<td class="rendition">
														<%=functions[i].renditions[j].id%>
													</td>
													<td class="selection">
														<input 
															id="<%=functions[i].name+functions[i].renditions[j].id%>" 
															type="radio" 
															name="<%=functions[i].name%>" 
															value="<%=functions[i].renditions[j].id%>"

															<%
															  if (query[functions[i].name] == functions[i].renditions[j].id) {
															    anyChecked = true;
															%>
																checked
															<% } %>
														>
													</td>
													<td class="degrades">
														<%- md(functions[i].renditions[j].degrades) -%>
													</td>
													<td class="description">
														<%- md(functions[i].renditions[j].description) -%>
													</td>
													<td class="seeAlso">
														<%- md(functions[i].renditions[j].seeAlso) -%>
													</td>					
												</tr>
												<tr>
													<td class="code" colspan="6">
														<pre><code><%=functions[i].renditions[j].contents%></code></pre>

													</td>
												</tr>
											<% } %>
											<tr>
												<td>None</td>
												<td>
													<input type="radio" name="<%=functions[i].name%>" value="-1"
														<% if (!anyChecked)  { %>
															checked
														<% } %>
													>
												</td>
												<td colspan="4"></td>
											</tr>
										</tbody>		
									</table>
								<% } %>
							<% } %>
						<% } %>
					</div>
					<div id="constructors">
						<h2>Constructors (<%=constructorFns.length%>)</h2>
						<table>
							<thead>
								<tr>
									<th>Name</th>
									<th>Methods</th>
								</tr>
							</thead>
							<tbody>
								<% for(var i = 0; i < constructorFns.length; i++) { %>
									<tr>
										<td>
											<input 
												type="checkbox" 
												name="<%=constructorFns[i].name%>" 

												<%if(query[constructorFns[i].name] == 'on'){%>
													checked
												<%}%>
											/>
											<label><%=constructorFns[i].name%></label>											
										</td>
										<td>											
											<% for(var j = 0; j < constructorFns[i].prototypeMethods.length; j++) { %>
												<div class="method">
													<input 
														type="checkbox" 
														name="<%=constructorFns[i].name%>#<%=constructorFns[i].prototypeMethods[j].name%>" 

														<%if(query[constructorFns[i].name+'#'+constructorFns[i].prototypeMethods[j].name] == 'on'){%>
															checked
														<%}%>

													/>
													<label><%=constructorFns[i].prototypeMethods[j].name%></label>
													
												</div>
											<% } %>
										</td>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>
					<div id="widgets">
						<h2>Widgets</h2>
						<p>Coming soon...</p>
					</div>
					<div class="footer">
						<% if (errors.length > 0) { %>
							<p><a href="#errors">Errors</a> (<%=errors.length%>)</p>
						<% } %> 
						<p><a href="#groupIndex">Groups</a></p>
						<div class="actions">
							<input type="submit" value="Download" name="action">
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>