<!DOCTYPE html>
<html>
	<head>
		<title>Jessie - Build your own Jessie</title>
		<link rel='stylesheet' type="text/css" href='css/global.css'>
	</head>
	<body>
		<div id="container">

			
			
			<div id="builder"> 
				<form method="get" action="build/">
					<div class="header">
						<h1>Build your own jessie</h1>
						<div class="actions">
							<input type="submit" value="Download Your Jessie now" name="download">
						</div>
					</div>

					<% if (error) { %>
						<div class="errors">						
							<p>You must specify at least one function to build.</p>
						</div>
					<% } %>

					<div class="options">
						<h2>Options</h2>
						<div class="option">
							<label for="">Namespace (defaults to 'jessie')</label>
							<input type="text" >
						</div>
					</div>				

					<% for(var i = 0; i < functions.length; i++) { %>
						<div class="function">
							<h2><%=functions[i].name%></h2>
							<% for(var j = 0; j < functions[i].renditions.length; j++) { %>
								<div class="rendition">
									<p><%=functions[i].renditions[j].id%></p>
									<input id="<%=functions[i].name+functions[i].renditions[j].id%>" type="radio" name="<%=functions[i].name%>" value="<%=functions[i].renditions[j].id%>">
									<label for="<%=functions[i].name+functions[i].renditions[j].id%>">
								
										<%- md(functions[i].renditions[j].description) -%>
									</label>
									<!--
									<pre><code><%=functions[i].renditions[j].getContents()%></code></pre>
									-->
								</div>
							<% } %>
						</div>
					<% } %>
					
				</form>
			</div>
		</div>
	</body>
</html>