<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-GB">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="en-gb">
		<meta name="author" content="Adam Silver">
		<title>Jessie - Build your own Jessie</title>
		<link rel='stylesheet' type="text/css" href='css/global.css'>
		<!--[if IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" /><![endif]-->	
	</head>
	<body>
		<div id="container">
			<div id="builder"> 
				<form method="get" action="/">
					<div class="header">
						<h1>Build your own Jessie <%query%></h1>
					</div>

					<% if (errors.length > 0) { %>
						<div id="errors">
							<div class="errorsInner">
								<h2>You have errors:</h2>
								<% for(var i = 0; i < errors.length; i++) { %>
									<p><%=errors[i].message%>
										<% if(errors[i].link) { %>
											<a href="<%=errors[i].link%>">Go</a>
										<% } %>
									</p>
								<% } %>
							</div>
						</div>
					<% } %>

					<div class="options">
						<h2>Options</h2>

						<table>
							<thead>
								<tr>
									<th>Name</th>
									<th>Value</th>	
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><label for="namespace">Namespace (defaults to 'jessie')</label></td>
									<td>
										<input 
											id="namespace" 
											name="namespace" 
											type="text"
											<% if(query && query.namespace) { %>
												value="<%=query.namespace%>"
											<% } %>
										>
									</td>
								</tr>
								<tr>
									<td>Minification settings</td>
									<td>
										<div>
											<input 
												type="radio" 
												name="minification"
												id="minification_0"
												value=""
												<% if(!query.minification || query.minification == '') { %>
													checked
												<% } %>
											>
											<label for="minification_0">None</label>
										</div>
										<div>
											<input 
												type="radio" 
												name="minification"
												value="level1"
												id="minification_1"
												<% if(query && query.minification == 'level1') { %>
													checked
												<% } %>
											>
											<label for="minification_1">Level 1 - Remove comments</label>
										</div>
										<div>
											<input 
												type="radio" 
												name="minification"
												value="level2"
												id="minification_2"
												<% if(query && query.minification == 'level2') { %>
													checked
												<% } %>
											>
											<label for="minification_2">Level 2 - Remove comments, whitespace</label>
										</div>
										<div>
											<input 
												type="radio" 
												name="minification"
												value="level3"
												id="minification_3"
												<% if(query && query.minification == 'level3') { %>
													checked
												<% } %>
											>
											<label for="minification_3">Level 3 - Remove comments, whitspace and shorten variable names</label>
										</div>
									</td>
								</tr>
								<tr>
									<td><label for="scaffolding">Debug</label></td>
									<td>
										<input 
											id="scaffolding" 
											name="scaffolding" 
											type="checkbox" 
											<% if(query && query.scaffolding == 'on') { %>
												checked
											<% } %>
										>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="filters">
						<h2>Filters</h2>
						<!--
						<% if(query && query['degradesIEFilter']) { %>
							<p style="color: green">Filtered to show functions that degrade in:
							<%=query['degradesIEFilter'] %></p>
						<% } %>
					-->

						<div>
							<label for="degradesIEFilter">Supports:</label>
							<select id="degradesIEFilter" name="degradesIEFilter">
								<option value="">None</option>
								<option 
									value="IE4" 
									<% if(query['degradesIEFilter'] == 'IE4') {%> 
									selected 
									<%}%>
								>
									IE4
								</option>
								<option 
									value="IE5" 
									<% if(query['degradesIEFilter'] == 'IE5') {%> 
									selected 
									<%}%>
								>
									IE5
								</option>
								<option 
									value="IE5.5" 
									<% if(query['degradesIEFilter'] == 'IE5.5') {%> 
									selected 
									<%}%>
								>
									IE5.5
								</option>
								<option 
									value="IE6" 
									<% if(query['degradesIEFilter'] == 'IE6') {%> 
									selected 
									<%}%>
								>
									IE6
								</option>
								<option 
									value="IE7" 
									<% if(query['degradesIEFilter'] == 'IE7') {%> 
									selected 
									<%}%>
								>
									IE7
								</option>
								<option 
									value="IE8" 
									<% if(query['degradesIEFilter'] == 'IE8') {%> 
									selected 
									<%}%>
								>
									IE8
								</option>
								<option 
									value="IE9" 
									<% if(query['degradesIEFilter'] == 'IE9') {%> 
									selected 
									<%}%>
								>
									IE9
								</option>
							</select>
							<input type="submit" name="action" value="Filter">
						</div>
					</div>	

					<div id="groupIndex">
						<h2>Group index</h2>
						<ul>
							<% for(var k = 0, kl = groups.length; k < kl; k++) { %>
								<li><a href="#group_<%=k%>"><%=groups[k].groupName%></a></li>
							<% } %>
						</ul>
					</div>

					<div id="functions">
						<h2>Functions (<%=functionCount%>)</h2>

						<table>
							<thead>
								<tr>
									<th class="function">Function</th>
									<th class="rendition">Rendition</th>		
									<th class="degrades">Degrades in</th>
									<th class="code">Code</th>					
								</tr>
							</thead>
						
	

						<% for(var k = 0, kl = groups.length; k < kl; k++) { %>
						<% var currentGroup = groups[k]; %>
						<% var functions = currentGroup.functions;	%>

							<thead>
								<tr>
									<td colspan="4">
										<h3 id="group_<%=k%>">(<a href="#groupIndex">Index</a>) Group: <%=currentGroup.groupName%> (<%=currentGroup.functions.length%>)</h3>
									</td>
								</tr>
							</thead>

							<% for(var i = 0, l = functions.length; i < l; i++) { %>
							<% var currentFunction = functions[ i ]; %>

								<% if(currentFunction.renditions.length) {  %>
									
										<tbody>
											<%
											  var anyChecked = false;
											  for(var j = 0, jl = currentFunction.renditions.length; j < jl; j++) {
											  	var currenntRendition = currentFunction.renditions[j];
											%>
												<tr>

													<%if(j==0) {%>
														<td id="<%=currentFunction.name%>" class="function" rowspan="<%=(currentFunction.renditions.length*2)+1%>">
															<%=currentFunction.name%>
															(<%=currentFunction.renditions.length%>)
														</td>
													<%}%>
													<td class="rendition">
														<input 
															id="<%=currentFunction.name+currenntRendition.id%>" 
															type="radio" 
															name="<%=currentFunction.name%>" 
															value="<%=currenntRendition.id%>"

															<%
															  if (query[currentFunction.name] == currenntRendition.id) {
															    anyChecked = true;
															%>
																checked
															<% } %>
														>
														<label for="<%=currentFunction.name+currenntRendition.id%>" ><%=currenntRendition.id%> (Author: <%-currenntRendition.author || '<span class="none">none</span>' %>)</label>
													
													</td>
													<td class="degrades">
														<%- md(currenntRendition.degrades) -%>
													</td>
													<td class="code">
														<p class="description"><%- md(currenntRendition.description) -%></p>
														<pre><code><%=currenntRendition.contents%></code></pre>
														<p class="seeAlso"><%- md(currenntRendition.seeAlso) -%></p>
													</td>			
												</tr>
											<% } %>
											<tr>
												<td>
													<input type="radio" id="<%=currentFunction.name%>_none" name="<%=currentFunction.name%>" value=""
														<% if (!anyChecked)  { %>
															checked
														<% } %>
													>
													<label for="<%=currentFunction.name%>_none">None</label>
												</td>
												<td colspan="2"></td>
											</tr>
										</tbody>
									<% } %>
								<% } %>
							
							<% } %>
						</table>
					</div>
					<div id="constructors">
						<h2>Constructors (<%=constructorFns.length%>)</h2>
						<table>
							<thead>
								<tr>
									<th>Name</th>
									<th>Methods</th>
								</tr>
							</thead>
							<tbody>
								<% for(var i = 0, l = constructorFns.length; i < l; i++) { %>
								<% var currentConstructor = constructorFns[i]; %>
									<tr>
										<td>
											<input 
												type="checkbox" 
												name="<%=currentConstructor.name%>" 

												<%if(query[currentConstructor.name] == 'on'){%>
													checked
												<%}%>
											/>
											<label><%=currentConstructor.name%></label>											
										</td>
										<td>											
											<% for(var j = 0, jl = currentConstructor.prototypeMethods.length; j < jl; j++) { %>
											<% var currentPrototype = currentConstructor.prototypeMethods[j]; %>
												<div class="method">
													<input 
														type="checkbox" 
														name="<%=currentConstructor.name%>#<%=currentPrototype.name%>" 

														<%if(query[currentConstructor.name+'#'+currentPrototype.name] == 'on'){%>
															checked
														<%}%>

													/>
													<label><%=currentPrototype.name%></label>
													
												</div>
											<% } %>
										</td>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>
					<div id="widgets">
						<h2>Widgets</h2>
						<p>Coming soon...</p>
					</div>
					<div class="footer">
						<% if (errors.length > 0) { %>
							<p><a href="#errors">Errors</a> (<%=errors.length%>)</p>
						<% } %> 
						<p><a href="#groupIndex">Groups</a></p>
						<div class="actions">
							<input type="submit" value="Download" name="action">
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>